{% block related_posts %}
{% load wagtailcore_tags  wagtailroutablepage_tags %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}
<div class="row">
   <div class="col" style="margin: 0 50px;">
      <div class="thumbnail" style="border: 1px solid #efefef; padding: 10px;">
         <div id="tags-middle">
            <div class="cloud">
               {% if related_posts %}
               <div class="related">
                  <p style="font: 400 20px 'Oswald';">Related Stories</p>
               </div>
               <div class="related_story_links">
                  <ul>
                     {% for post in related_posts %}
                     <li class="tags-cloud"><a href="{% pageurl post %}">{{ post.title|striptags }}</a></li>
                     {% endfor %}
                  </ul>
               </div>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
{%endblock%}