{% extends "news/header.html" %}

{%load static%}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}
{% load static  %}
{% block title %}{{self.title}} | Events | Digital Times {%endblock%}
{% block style %}
<link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
{% endblock %}
{% block content %}
<style>
@media screen and (max-width:700px){iframe{height:100%}}.prog-outline p{font-size:16px !important}#header.header-v1:after{background:0 0 !important}.event-arrow-down:before{content:"\25BC";cursor:pointer}.event-arrow-down.active:before{content:"\25B2";cursor:pointer}.prog-outline ul,.prog-outline ol{font:400 16px/25px "Lato";color:#555;margin-bottom:15px}.prog-outline ul li{list-style:disc;margin-left:50px}.prog-outline ol li{list-style:decimal}.prog-outline h4{font-size:24px}
</style>
{% image page.event_image scale-100 as page_event_img %}
<a href="{{page.registration_url}}">
	<div class="main"
		style="background: url('{{page_event_img.url}}') rgba(0,0,0,0.5) no-repeat center;background-size: cover;font-family: 'Oswald';">
		<div class="container" style="background-color:transparent!important">
			<div class="row" style="margin-top: 20px; margin-left: 10px;">
				<div class="col-md-5">
					<p class="date">{{page.event_start_month}} &nbsp; {{page.event_start_day}}, &nbsp;
						{{page.event_start_year}}{% if page.event_end_month %}&nbsp; - &nbsp;{{page.event_end_month}}
						&nbsp; {{page.event_end_day}}, &nbsp; {{page.event_end_year}}{%endif%}</p>
					<h2><span>{{page.title}}</span></h2>
					<p style="font-family: 'Lato', sans-serif;">{{page.summary}}
					</p>
				</div>
			</div>
		</div>
	</div>
</a>



<div class="container"><br /><br /><br />
	<div class="container space-20 space-padding-tb-20">
		<ul class="breadcrumb">
			<li><a href="{% url 'wagtail_serve' '' %}">Home</a></li>

			<li><a href="{% slugurl 'featured-events' %}">Featured Events</a></li>

			<li class="active">{{page.title}}</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="wrapper" style="margin-bottom: 50px; margin-top: 3rem; font-family: 'Lato';">

				<!-- first item, not featured, no date range -->
				<div class="event-list-item-1 navy">
					<div class="event-info">
						<div class="event-info-extras">
						{% if event.arrange_event_start_date|date:"YmdHis" > todayDate|date:"YmdHis" %}
							<a href="{{event.registration_url}}"><span class="free"></span></a>
						{% else %}
							<a href="#"><span class="past"></span></a>
						{% endif %}
						</div>
						<div class="event-date">
							<p class="event-start">
								{{page.event_start_month|upper|slice:"0:3"}}<br />{{page.event_start_day}}</p>
							{% if page.event_end_month %}<p class="event-end">
								{{page.event_end_month|upper|slice:"0:3"}}<br />{{page.event_end_day}}</p>{%endif%}
						</div>
						<div class="event-description" style="margin-bottom: 50px;">
							<div class="event-header">
								<a href="{{page.event_url}}">
									<h1 class="event-title" style="font-family: 'Oswald';">{{ page.title }}</h1>
									<h3 class="event-title">{{ page.event_name }}</h1>
								</a>
								<a href="{{page.location_url}}">
									<p class="event-location" style="font-size: 16px;">{{page.location}}</p>
								</a>
								<p class="event-time" style="font-size: 16px;">
									{{page.event_start_time}}{% if page.event_end_time %}&nbsp;-&nbsp;{{page.event_end_time}}{%endif%}
								</p>
							</div>
							<div class="event-excerpt" style="font-family: 'Lato';color: #9a9a9a; font-size: 16px;">
								<p>{{page.description}}<br />
									{% if page.arrange_event_start_date|date:"YmdHis" > todayDate|date:"YmdHis" %}
										<a href="{{page.registration_url}}"
											style="font-size: 2rem; color:white; border-radius: 2px; background-color: #000e1e; padding: 5px; font-weight: 900;">Register
											Here
										</a>
									{%endif%}
								</p>
							</div>
							{%if page.programme_outline %}
							<details style="margin-top: 30px;">
								<summary class="event-arrow-down" onclick="this.classList.toggle('active')"
									style="font-size: 1.8rem; font-family: 'Oswald';cursor: pointer; font-weight:bold; color: #000e1e; padding: 30px 0 20px 0;">
									Click for more details <span></span></summary>
								<div>

									<h3
										style="font-family: 'Oswald'; font-weight:bold; color: #000e1e; padding: 30px 0 20px 0;">
										<span style="border-bottom: 5px solid #0add08;">{{page.overview_title}}</span>
									</h3>
									<div class="prog-outline">
										<p style="font-family:'Lato';">{{page.programme_outline}}</p>
									</div>

								</div>


								{% if page.event_document %}
								<div>
									<a href="{{page.event_document.url}}" target="_blank">
										<p class="itinerary-btn" style="font-family: 'Lato';">Download Outline <i
												class="fa fa-download"></i></p>
									</a>
								</div>
								{%endif%}
							</details>
							{%endif%}
						</div>
					</div>
					<!-- Video section -->
					{% if page.youtube_url_1 %}
					<div class="container-video prog-outline"
						style="padding:30px; background-color: #fff;margin: 0 20px;">
						{% if page.youtube_title %}
						<h3 style="font-weight:bold; color: #000e1e; padding: 30px 0 20px 0;"><span
								style="border-bottom: 5px solid #0add08;font-family: 'Oswald';">{{page.youtube_title}}</span>
						</h3>
						<p style="font-family:'Lato';">{{page.youtube_description}}</p>
						{%endif%}
						{% if page.youtube_url_1 %}
						<div class="ratio ratio-4x3">
							{% if page.youtube_title_1 %}
							<p style="font-family: 'Lato'; font-size: 16px;font-weight:bold; ">{{page.youtube_title_1}}
							</p>
							{%endif%}
							<iframe src="{{page.youtube_url_1}}?autoplay=1" frameborder="0" width="100%" height="450px"
								title="YouTube video"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe></div>
						{%endif%}<br />
						{% if page.youtube_url_2 %}
						<div class="ratio ratio-4x3">
							{% if page.youtube_title_2 %}
							<p style="font-family: 'Lato'; font-size: 16px;font-weight:bold; ">{{page.youtube_title_2}}
							</p>
							{%endif%}
							<iframe src="{{page.youtube_url_2}}" frameborder="0" width="100%" height="450px"
								title="YouTube video"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe></div>
						{%endif%}<br />
						{% if page.youtube_url_3 %}
						<div class="ratio ratio-4x3">
							{% if page.youtube_title_3 %}
							<p style="font-family: 'Lato'; font-size: 16px;font-weight:bold; ">{{page.youtube_title_3}}
							</p>
							{%endif%}
							<iframe src="{{page.youtube_url_3}}" frameborder="0" width="100%" height="450px"
								title="YouTube video"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe></div>
						{%endif%}<br />
						{%if page.youtube_url_4%}
						<div class="ratio ratio-4x3">
							{% if page.youtube_title_4 %}
							<p style="font-family: 'Lato'; font-size: 16px;font-weight:bold; ">{{page.youtube_title_4}}
							</p>
							{%endif%}
							<iframe src="{{page.youtube_url_4}}" frameborder="0" width="100%" height="450px"
								title="YouTube video"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe></div>
						{%endif%}
					</div><br />
					{%endif%}
					<!-- End Video -->
					<!-- bottom Image -->
					{% image page.event_display_page_image scale-100 as page_event_img %}
					<img class="event-image img-responsive" src="{{page_event_img.url}}" alt="{{page_event_img.alt}}" />
				</div>
			</div><br />

			<div style="height: 280px!important">
				<span style="font-size:10px;">ADVERTISEMENT</span>
				<div class="row">
					<div class="col-md-12">
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Event Page -->
						<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1488438822864367"
							data-ad-slot="4190661643" data-ad-format="auto" data-full-width-responsive="true"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>

		</div>
		<!--side menu-->
		<div class="col-md-4">
			{%block widget%}

			{% include 'news/sidebar.html' %}

			{% include 'news/social_stats.html' %}

			{%endblock%}
		</div>
		<!--end sidemenu-->
	</div>
</div>
<!-- Back To Top Button -->
<div id="back-to-top" title="Back To Top">
	<i class="fas fa-long-arrow-alt-up"></i>
</div>
<!-- Back To Top Button ends-->
{% endblock %}

{%block footer %}
{% include 'news/privacy_pages/alt_footer.html' %}
{%endblock%}