{% extends "news/header.html" %}
{% block style %}
<style>
    @keyframes slidy{0%{left:0}20%{left:0}25%{left:-100%}45%{left:-100%}50%{left:-200%}70%{left:-200%}75%{left:-300%}95%{left:-300%}100%{left:-400%}}div#sidebar-slider{overflow:hidden;height:330px}div#sidebar-slider figure img{width:20%;float:left}div#sidebar-slider figure{position:relative;width:500%;margin:0;left:0;text-align:left;font-size:0;animation:30s slidy infinite}.content ul,ol{font:400 16px/25px Lato;color:#555;margin-bottom:15px}.content ul li{list-style:disc;margin-left:50px}.content ol li{list-style:decimal}.content iframe{width:100%;height:390px}.content h4{font-size:24px}.content h4 a:link{color:#000}.content h4 a:hover{color:#0add08}
</style>
{%endblock%}
{%load static%}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}
{% load static  %}
{% block title %} {{ self.title }} | Opportunities | Digital Times {%endblock%}
{% block content %}
<div class="container space-20 space-padding-tb-20 visible-lg-block visible-md-block visible-sm-block">
    <ul class="breadcrumb">
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-top: 32px;">
            <div class="single-post">
                <div class="blog-post-item cat-1 box">
                    <figure class="blog-post-images">
                        {% image self.blog_image max-770x480 as banner  %}
                        <a class="hover-images" href="" title="Post"><img class="img-responsive" src="{{banner.url}}"
                                alt="{{banner.alt}}"></a>

                    </figure>

                    <div class="content">
                        <h3>{{ page.title|striptags }}</h3>
                        <div class="tag">

                            <p class="label"><a href="{% slugurl 'funding' %}" style="color:white;">Funds</a></p>

                            <p class="date"><i class="fa fa-clock-o"></i>{{page.date| date:"M. d, Y"}}</p>
                        </div>
                        {%if page.paragraph_2%}

                        <p>
                            {% for block in self.content %}
                            {% include_block block %}
                            {% endfor %}
                        </p>

                        <p>
                            {% include 'news/layout/related_posts.html' %}
                        </p>
                        {%if page.paragraph_2%}
                        <p> {{page.paragraph_2}}</p>
                        {%endif%}

                        {% if page.funding_start_date %}
                        <p style="font-weight: bold;">Start date: {{page.funding_start_date|date:"M d, Y"}}</p>
                        {%endif%}

                        {% if page.funding_end_date %}
                        <p style="font-weight: bold;">End date: {{page.funding_end_date|date:"M d, Y"}}</p>
                        {%endif%}

                        {%else%}
                        <p>
                            {% for block in self.content %}
                            {% include_block block %}
                            {% endfor %}
                        </p>

                        {% if page.funding_start_date %}
                        <p style="font-weight: bold;">Start date: {{page.funding_start_date|date:"M d, Y"}}</p>
                        {%endif%}

                        {% if page.funding_end_date %}
                        <p style="font-weight: bold;">End date: {{page.funding_end_date|date:"M d, Y"}}</p>
                        {%endif%}

                        <p>
                            {% include 'news/layout/related_posts.html' %}
                        </p>

                        {%endif%}

                    </div>
                    <!-- start -->
                    <div id="share">

                        <!-- facebook -->
                        <a class="facebook-share"
                            href="https://www.facebook.com/sharer/sharer.php?u=https://www.digitaltimes.africa{{ page.url }}%2F&display=popup&ref=plugin&src=like&kid_directed_site=0"
                            target="blank"><i class="fab fa-facebook-f"></i></a>

                        <!-- twitter -->
                        <a class="twitter"
                            href="https://twitter.com/share?text=&url={{ page.title}}+https://www.digitaltimes.africa{{ page.url }}"
                            target="blank"><i class="fab fa-twitter"></i></a>

                        <!-- email -->
                        <a class="email"
                            href="mailto:?subject=Digital Times:{{ page.title}}&body=https://www.digitaltimes.africa{{ page.url }}"
                            target="blank"><i class="fa fa-envelope"></i></a>

                        <!-- whatsapp -->
                        <a class="whatsapp"
                            href="https://api.whatsapp.com/send?text={{ page.title }}+https://www.digitaltimes.africa{{ page.url }}"
                            target="blank"><i class="fab fa-whatsapp"></i></a>

                        <!-- linkedin -->
                        <a class="linkedin"
                            href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.digitaltimes.africa{{ page.url }}&title={{ page.title }}&summary={{ page.description|striptags|truncatewords:40 }}&source=Digital_Times"
                            target="blank"><i class="fab fa-linkedin-in"></i></a>

                        <!-- Reddit -->
                        <a class="reddit" href="http://reddit.com/submit?url=https://www.digitaltimes.africa{{ page.url }}&title={{ page.title }}" target="_blank"><i class="fab fa-reddit-alien"></i></a>
                    </div>
                    </div>
                    <!-- end -->

                    {% if page.tags.all.count %}
                    <p class="tag-cat"><span>tag:</span>
                        {% for tag in page.tags.all %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}" title="Tag"
                            class="text-capitalize">{{ tag }}</a>,
                        {% endfor %}
                    </p>
                    {% endif %}

                    {% if  page.article_source %}
                    <div class="box-user space-padding-tb-40" style="margin-bottom: 20px;">
                        <div class="box">

                            <div class="text">
                                {%if  page.article_source %}
                                <h3>{{ page.article_source}} <span class="user-level">Source</span></h3>
                                {%endif%}

                            </div>
                        </div>
                    </div>
                    {%endif%}
                    <br /><br />
                    <!-- Ad Starts -->
                    <div style="height: 280px!important">
                        <span style="font-size:10px;">ADVERTISEMENT</span>
                        <div class="col-md-12 space-60">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- Funding Page -->
                            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1488438822864367"
                                data-ad-slot="6610768820" data-ad-format="auto" data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>
                    <!-- Ad Ends -->
                </div>

            </div>
        </div>

        <!--side menu-->
        <div class="col-md-4">
            {%block widget%}

            {% include 'news/sidebar.html' %}

            {% include 'news/social_stats.html' %}

            {%endblock%}
        </div>
        <!--end sidemenu-->
    </div>
</div>

<!-- Back To Top Button -->
<div id="back-to-top" title="Back To Top">
    <i class="fas fa-long-arrow-alt-up"></i>
</div>
<!-- Back To Top Button ends-->
{%endblock%}

{%block footer %}
{% include 'news/privacy_pages/alt_footer.html' %}
{%endblock%}