{% extends "base.html" %}
{% load wagtailroutablepage_tags wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load menu_tags static %}


{%block navbar%}
<style>
    .subscribe-wrapper{background-image:url('{% static "/images/bg_mobile_sub.jpg" %}');background-size:cover}.subscribe-wrapper-inner{display:table;padding:25px 0 20px 20px}.subscribe-wrapper-btn{display:table-cell;text-align:center}.subcribe-wrapper-desc{display:table-cell;font:600 18px/16px Oswald;text-align:center;color:beige}.sw-btn{background-color:#000;color:#0add08;padding:10px 30px;margin-right:25px;font:700 22px/18px Oswald}.sw-btn:active{background-color:#0add08;color:#000}.navbar-fixed-top{position:fixed !important}
</style>
<div id="sub_hide_onscroll" class="visible-xs-block" style="margin-bottom: 10px;">
    <!-- Subscribe Banner smaller screen -->

    {% image top_ads.ad_image fill-668x85-c100 as ad_image %}
    <a title="Subscribe" data-toggle="modal" data-target="#myModalSubscribe" style="text-decoration:none">
        <div class="subscribe-wrapper">
            <div class="subscribe-wrapper-inner">
                <div class="subscribe-wrapper-btn">
                    <span class="sw-btn">Subscribe</span>
                </div>
                <div class="subcribe-wrapper-desc">
                    To Our Newsletters.
                </div>
            </div>
        </div>
    </a>

    <!-- End subscribe Bannersmaller screen -->
</div>
<header id="header" class="header-v1 small-sizing navbar-fixed-top" style="background-color: rgb(255, 255, 255);">
    <!-- Search on large screens -->
    <div class="search visible-lg-block visible-md-block">
        <div class="form-search">
            <input type="text" />
            <button class="button" type="submit" data-toggle="modal" data-target="#myModalHeader2"><i
                    class="fa fa-search"></i></button>
        </div>
    </div>
    <!-- Large screen search ends -->

    <!-- Search on  medium screens -->
    <div class="search search-md visible-sm-block">
        <form class="form-search" action="{% url 'search' %}" method="GET" accept-charset="utf-8">
            <input type="text" enterkeyhint="search"   style="font: 300 16px Oswald;"
                placeholder="Search by keywords or title..."  
                id="newsletter" name="q">
            <button class="button" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- Medium screen search ends -->

    <div class="header-top">
        <div class="container">
            <div class="box float-left">
                <p class="icon-menu-mobile navbar-toggle collapsed" style="padding:0px;margin-right:0px!important;"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><i
                        class="fa fa-bars"></i></p>
                <div class="logo">
                    <a href="{% url 'wagtail_serve' '' %}">
                        <img src="{% static '/images/Logo.png' %}" alt="logo-mobile-size">
                    </a>
                    <div>
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1488438822864367"
                            crossorigin="anonymous"></script>
                        <!-- Nav Top Section -->
                        <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-client="ca-pub-1488438822864367"
                            data-ad-slot="5463843735"
                            data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <!-- End subscribe Banner -->
                </div>

                <div class="logo-mobile"><a href="{% url 'wagtail_serve' '' %}" title="DTA-Logo"><img
                            src="{% static '/images/Logo.png' %}" alt="DTA-Logo" style="margin-top: 4px;"></a>
                </div>

                <div class="box-right">
                    <!-- Small screen search starts  -->

                    <!-- Social Media -->
                    <div class="social" style="display: flex;">
                        <a class="visible-xs-block mobile-search" title="Search" data-toggle="modal"
                            data-target="#myModalHeader" style="border: 0px none; margin-right: 0px;">
                            <i class="fa fa-search" style="color: #000;"></i>
                        </a>
                        <!-- Small screen search ends -->

                        <!--    Dropdown Follow Us Button   -->
                        <div class="dropdown">
                            <button class="btn btn-clr dropdown-toggle" type="button" id="dropdownMenu1"
                                aria-haspopup="true" aria-expanded="true"
                                style="background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(10,221,8,0.9307073171065301) 0%, rgba(8,220,50,0.9251050762101716) 39%, rgba(6,218,99,0.9251050762101716) 73%, rgba(4,216,156,0.9335084375547094) 100%, rgba(0,212,255,0) 100%);font-weight: 700;">
                                Follow Us <span class="fa fa-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu m-tb" aria-labelledby="dropdownMenu1"
                                style="background-color:#c2c2c2;padding:0;min-width:130px;z-index:9999">
                                <li class="tb" style="border-bottom: 3px solid white;">
                                    <a href="https://facebook.com/DigitalTimesAfrica/" class="tb-cl tb-sb-fb"
                                        style="width: 50px;padding: 3px 5px 3px 10px;" title="Facebook"
                                        target="_blank"><i class="fab fa-facebook-f sb sb-fb"
                                            style="line-height: 30px;"></i></a>
                                    <a href="https://twitter.com/DigitalTAfrica" class="tb-cl tb-sb-tw"
                                        style="width: 50px;padding: 3px 5px 3px 10px;" title="Twitter"
                                        target="_blank"><i class="fab fa-twitter sb sb-tw"
                                            style="line-height: 30px;"></i></a>
                                    <a href="https://www.linkedin.com/company/digitaltimesafrica/"
                                        class="tb-cl tb-sb-in" style="width: 50px;padding: 3px 5px 3px 10px;"
                                        title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in sb sb-in"
                                            style="line-height: 30px;"></i></a>
                                </li>

                                <li class="tb2" style="border-bottom: 3px solid white;">
                                    <a href="https://www.instagram.com/digitaltimesafrica/" class="tb-cl2 tb2-sb-ig"
                                        style="width: 50px;padding: 3px 5px 3px 10px;" title="Instagram"
                                        target="_blank"><i class="fab fa-instagram sb sb-ig"
                                            style="line-height: 30px;"></i></a>
                                    <a href="https://www.youtube.com/channel/UCsLA-rwLOHa0w6EIC6SLM8w"
                                        class="tb-cl2 tb2-sb-yt" style="width: 50px;padding: 3px 5px 3px 10px;"
                                        title="YouTube" target="_blank"><i class="fab fa-youtube sb sb-yt"
                                            style="line-height: 30px;"></i></a>
                                    <a href="https://t.me/digitaltafrica" class="tb2-cl tb2-sb-tg"
                                        style="width: 50px;padding: 3px 5px 3px 10px;" title="Telegram"
                                        target="_blank"><i class="fab fa-telegram-plane sb sb-tg"
                                            style="line-height: 30px;"></i></a>
                                </li>

                                <li class="tb3" style="border-bottom: 3px solid white;">
                                    <a href="https://chat.whatsapp.com/CZ01DnvggpL6f5EKxwIOAM"
                                        class="tb-cl3 tb3-sb-whapp" style="width: 50px;padding: 3px 5px 3px 10px;"><i
                                            class="fab fa-whatsapp sb sb-whapp" style="line-height: 30px;"
                                            title="WhatsApp" target="_blank"></i></a>
                                    <a href="tiktok.com/@digitaltimes_africa" class="tb-cl3 tb3-sb-tk"
                                        style="width: 50px;padding: 3px 5px 3px 10px;" title="TikTok" target="_blank"><i
                                            class="fab fa-tiktok sb sb-tk" style="line-height: 30px;"></i></a>

                                    <a href="https://digitaltimes-2020.medium.com/" class="tb-cl3 tb3-sb-med"
                                        style="width: 50px;padding: 3px 5px 3px 10px;" title="Medium" target="_blank"><i
                                            class="fab fa-medium-m sb sb-med" style="line-height: 30px;"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Follow Us Button Ends -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End container -->
    </div>
    <div class="container" style="width: 100%; padding-left: 200px;background-color: black;">
        <nav class="mega-menu" style="text-align: center;" id="bs-example-navbar-collapse-1" aria-expanded="false">
            <ul class="nav navbar-nav" id="navbar">
                <li class="level1  hover-menu"><a href="{% url 'wagtail_serve' '' %}">Home</a></li>
                <li class="level1  hover-menu dropdown">
                    <!-- For large screen  -->
                    <a href="#" class="dropdown-toggle visible-lg-block" data-toggle="dropdown" role="button"
                        aria-haspopup="false" aria-expanded="false">News Stories <span class="caret"></span></a>
                    <!-- lg screen ends  -->
                    <!--For Medium to small screen  -->
                    <a href="#" class="dropdown-toggle visible-md-block visible-sm-block visible-xs-block" data-toggle="dropdown" role="button"
                        aria-haspopup="false" aria-expanded="false">News Stories</a>
                    <!--Md and Xs ends  -->
                    <ul class="menu-level-1 list-menu">
                        <li class="level2"><a
                                href="https://www.digitaltimes.africa/category/news">News</a>
                        </li>
                        <li class="level2"><a
                                href="https://www.digitaltimes.africa/category/tech-world">Tech World</a>
                        </li>
                        <li class="level2"><a
                            href="https://www.digitaltimes.africa/category/innovations">Innovations</a>
                        </li>
                        <li class="level2"><a
                                href="https://www.digitaltimes.africa/category/entrepreneurship">Entrepreneurship</a>
                        </li>                     
                    </ul>
                </li>
                <li class="level1  hover-menu dropdown">
                    <!-- For large screen  -->
                    <a href="#" class="dropdown-toggle visible-lg-block" data-toggle="dropdown" role="button"
                        aria-haspopup="false" aria-expanded="false">Publications <span class="caret"></span></a>
                    <!-- lg screen ends  -->
                    <!--For Medium to small screen  -->
                    <a href="#" class="dropdown-toggle visible-md-block visible-sm-block visible-xs-block" data-toggle="dropdown" role="button"
                        aria-haspopup="false" aria-expanded="false">Publications</a>
                    <!--Md and Xs ends  -->
                    <ul class="menu-level-1 list-menu">
                        <li class="level2"><a
                                href="https://www.digitaltimes.africa/category/articles">Articles</a>
                        </li>
                        <li class="level2"><a
                                href="https://www.digitaltimes.africa/category/digital-creatives">Digital Creatives</a>
                        </li>
                        <li class="level2"><a
                                href="https://www.digitaltimes.africa/category/press-release">Press Release</a>
                        </li>
                    </ul>
                </li>
                
                <li class="level1  hover-menu"><a href="{% slugurl 'funding' %}">Opportunities</a></li>
                <li class="level1  hover-menu"><a href="{% slugurl 'featured-events' %}">Featured Events</a></li>
                <!-- <li class="level1  hover-menu"><a href="#">Podcast</a></li> -->
                <li class="level1  hover-menu"><a href="{% slugurl 'videos' %}">Videos</a></li>
                <li class="level1  hover-menu dropdown">
                    <!-- For large screen  -->
                    <a href="#" class="dropdown-toggle visible-lg-block" data-toggle="dropdown" role="button"
                        aria-haspopup="false" aria-expanded="false">Services <span class="caret"></span></a>
                    <!-- lg screen ends  -->
                    <!--For Medium to small screen  -->
                    <a href="#" class="dropdown-toggle visible-md-block visible-sm-block visible-xs-block" data-toggle="dropdown" role="button"
                        aria-haspopup="false" aria-expanded="false">Services</a>
                    <!--Md and Xs ends  -->
                    <ul class="menu-level-1 list-menu">
                        <li class="level2"><a href="https://www.digitaltimes.africa/our-services">Our Services</a>
                        </li>
                        <li class="level2"><a
                                href="https://www.digitaltimes.africa/category/sponsored-content">Sponsored Content</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Modal Subscribe -->
<div class="modal fade" id="myModalSubscribe" tabindex="-1" role="dialog" aria-labelledby="myModalSubscribeLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <button style="background-color: red;padding: 0 10px 10px;" type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% include 'news/layout/header_subscribe.html' %}
        </div>
    </div>
</div>
<!-- End Subscribe Modal -->

<!-- Modal Search for mobile screen -->
<div class="modal fade" id="myModalHeader" tabindex="-1" role="dialog" aria-labelledby="myModalHeaderLabel">
    <div class="modal-dialog">
        <div class="search">
            <form class="form-search" action="{% url 'search' %}" method="GET" accept-charset="utf-8">
                <input type="text"   style="font: 300 16px Oswald;"
                    placeholder="Search by keywords or title..."  
                    id="newsletter" name="q" enterkeyhint="search">
                <button class="button" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- Mobile screen search modal ends -->

<!-- Modal Search for Large screen -->
<div class="modal fade" id="myModalHeader2" tabindex="-1" role="dialog" aria-labelledby="myModalHeaderLabel">
    <div class="modal-dialog">
        <div class="search">
            <form class="form-search" action="{% url 'search' %}" method="GET" accept-charset="utf-8">
                <input type="text"   style="font: 300 16px Oswald;"
                    placeholder="Search by keywords or title..."  
                    id="newsletter" name="q" enterkeyhint="search">
                <button class="button" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- Large screen search modal ends -->

{%endblock%}
{% block js %}
<script>
    $('#myModal').on('shown.bs.modal', function(){$('#myInput').focus()});
</script>
{% endblock %}