{% load wagtailroutablepage_tags wagtailcore_tags wagtailimages_tags %}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="{% if self.search_description %}{{ self.search_description }}{% elif self.description %}{{ self.description|striptags|truncatewords:30 }}{% else %}Digital Times Africa is a multimedia agency that provides a platform promoting African innovation. We curate relevant and credible content for startups, entrepreneurs and technology lovers in Africa.{% endif %}" />
    <meta name="title"
        content="{% if self.seo_title %}{{ self.seo_title }} | Digital Times{% elif self.title %}{{ self.title|striptags }} | Digital Times{% else %}Digital Times | African Technology News | Innovation Insights | Startups and Business Education{% endif %}" />
    <meta name="robots" content="index, follow, translate, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="Revisit-After" content="1 Days">
    <meta name="Pragma" content="no_cache">
    <meta name="Publisher" content="Digital Times">
    <meta name="Content-language" content="EN-US">
    <meta name="Author" content="Digital Times">
    <meta name="thumbnail" content="https://www.digitaltimes.africa/static/images/avatar-logo.png" />
    
    <!-- SEO -->
    <meta name="keywords"
        content="Digital Times, Africa Tech News, Cybersecurity, Information, Smartphone, Iphone, Android, Startup News, African Startup News, Technology, Startup, Fintech, African News, Ghana, Tech, News, Africa, Exclusives, Tech News, Pandemic, Blockchain, Artificial Intelligence, AI, Machine Learning, Big Data, UI/UX, UI, UX, Digital Arts, Animation, Cryptocurrency, Agritech, Data, Apps, 3D, Digital, Ethereum, Bitcoin, Women In Tech, Black Businesses, Entrepreneurs, Entrepreneurship, Facebook, Twitter, YouTube, Amazon, AWS, Glovo, Business, Google, TechHub, Innovation, Investment, Funding, Accelerator" />
    <meta name="msapplication-TileImage" content="https://www.digitaltimes.africa/static/images/270.png" />
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}" />
    <link rel="icon" href="https://www.digitaltimes.africa/static/images/192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://www.digitaltimes.africa/static/images/180.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/services/simple-line-icons-master/css/simple-line-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/services/servicepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/services/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/services/slick/slick-theme.css' %}">

    <!--Google site verification  -->
    <meta name="google-site-verification" content="TCtgzQHWeIpiLxh3sQVaPJcNlN9JkUp4cFyB5-S2HqQ" />
    
    <!-- MailChimp Script -->
    <script
        id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/d33d1ff8a9a24c32a5bf318b9/73c920ed60a5d1a76da036d5e.js");</script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if not request.is_preview %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174227026-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-174227026-1');
    </script>
    {%endif%}
</head>

<body>
    <div class="home-4">
       
        <div class="sidenav side"id="mySidenav">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li class="list-group-item unique-header-link" data-target="#about-us"><a href="#about-us">ABOUT </a></li>
                    <li class="list-group-item unique-header-linker">SERVICES <button data-toggle="collapse" data-target="#menu-mobile1" id="btn2">
                            <span class="chid2"></span>
                            <span class="chid3"></span>
                        </button>
                        <ul id="menu-mobile1" class="collapse menu-mobile-lv2">
                            <li data-target="#services"><a href="#services">OUR SERVICES</a></li>
                            <li data-target="#pricing"><a href="#pricing">PRICING</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item unique-header-link"><a href="https://www.digitaltimes.africa">NEWS </a></li>
                    <li class="list-group-item unique-header-link" data-target="#contact-us"><a href="#contact-us">CONTACTS</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="baobase">
            <div class="base">
                <header>
                    <div class="row row_header  " data-spy="affix" data-offset-top="10">
                        <div class="affixx">
                            <div class="navba col-md-5 col-sm-5 col-xs-2">
                                <div class="header-mobi">


                                    <div class="button1 home4">
                                        <div class="butt">
                                            <span id="child1" class="home44"></span>
                                            <span class="child2 home44"></span>
                                            <span class="child3 home44"></span>
                                        </div>
                                        <span class="vuong"
                                            style="width: 30px;height: 30px;background: transparent;top:7px; display: none;position: absolute;"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-8 logo logo-js">
                                <span>                              
                                <!-- <img src="{% static '/images/Logo.png' %}" alt="Logo"> -->
                                </span>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-2 phone_top">

                                <div class="active-mobile search-popup pull-right">
                                    <div class="search-popup dropdown" data-toggle="modal" data-target="#myModall"><i
                                            class="icon-magnifier icons home4"></i>
                                    </div>
                                </div>

                                <span class="home4">+233 59 656 7373 / +233 30 226 1832</span>
                                <span class="phonee phonee-js home4"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModall" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="submit" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">WHAT ARE YOU <br>LOOKING FOR ?</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <form method="GET" class="searchform"
                                            action="{% url 'search' %}" accept-charset="utf-8" role="search">
                                            <input type="hidden" name="type" value="product">
                                            <input type="text" enterkeyhint="search" name="q" placeholder="Enter search..."
                                                class="form-control control-search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default button_search"
                                                    type="submit">SEARCH</button>
                                            </span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layer">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="{% static 'images/layer-pic-1.jpg' %}" alt="Chania">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/layer-pic-2.jpg' %}" alt="Chania">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/layer-pic-3.jpg' %}" alt="Flower">
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/layer-pic-4.jpg' %}" alt="Flower">
                                </div>
                            </div>
                        </div>
                        <div class="sile1">
                            <div class=" container_header">
                                <div class="row row_top">
                                    <div class="col-md-12 we_are">
                                        <h1>Elevating African Startups, Entrepreneurs and Innovation</h1>
                                        <p>At Digital Times, we prioritise excellence in our work and customer satisfaction.</p>
                                        <button class="button_see" id="about-us">GET IN TOUCH <span class="xoay"></span>
                                            <span></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapage">
                        <div class="container about1">
                            <div class="about ">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 about-we" >
                                        <h5>ABOUT</h5>
                                        <h1>We focus on digital storytelling, PR and branding services.</h1>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 corem-ipsum">
                                        <p>Digital Times Africa is a mediatech company that focuses on elevating Africa’s tech, innovation and entrepreneurship
                                        scene through digital storytelling, PR and branding services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="services-1">
                        <main>
                            <div class="warppage">
                                <div class="container servic" id="services">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <h5>COVERED IN THESE AREAS</h5>
                                            <p>Services We Provide</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 col-xs-12 creation">
                                                <span></span>
                                                <h4>Publications</h4>
                                                <p>Publicise information about your organisation to a wider audience. We promote news, articles,
                                                    blogs, press releases or
                                                    events on technology, innovation and entrepreneurship.</p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 identity">
                                                <span></span>
                                                <h4>Brand Design</h4>
                                                <p>We position you in the right place and at the right time. Using creative design elements such
                                                    as colours, logos,
                                                    typography and visuals in selling your brand improves competitive advantage, customer
                                                    experience and increases sales.</p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 emailmarketing">
                                                <span></span>
                                                <h4>Email Marketing</h4>
                                                <p>Consistent communication is very essential for your business growth! We make it easy for you,
                                                    by managing
                                                    commercial
                                                    messages to your clients.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 col-xs-12 printdesign">
                                                <span></span>
                                                <h4>Printed Design</h4>
                                                <p>Create aesthetic designs to enhance your brand’s visual communication. Our work includes
                                                    designing brochures, leaflets,
                                                    banners, business cards, book covers, labels etc.</p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 appdevelopment">
                                                <span></span>
                                                <h4>Newsletters</h4>
                                                <p>Keep your audience abreast consistently of your organisational activities or updates. We
                                                    ensure that your clientele or
                                                    employees are updated on a regular basis.</p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 design">
                                                <span></span>
                                                <h4>Graphics Design</h4>
                                                <p>Enhance your organisation’s visual communication through creative designs in texts, colours
                                                    and images.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 col-xs-12 development">
                                                <span></span>
                                                <h4>Website Development &amp; Management</h4>
                                                <p>Build a conducive environment for your business, by owning a visually appealing website that
                                                    connects your brand to your
                                                    clientele.</p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 marketing">
                                                <span></span>
                                                <h4>Social Media Management</h4>
                                                <p>Enhance your brand’s image and visibility by having a robust social media presence! Content
                                                    creation and curation,
                                                    social media scheduling, posts, generating leads, traffic, analytics etc, are in the hands
                                                    of our skilled staff.</p>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 livestream">
                                                <span></span>
                                                <h4>Live Streaming</h4>
                                                <p>For all your event coverage, we record life happenings and promote live on various social
                                                    media channels.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 col-xs-12 photography">
                                                <span></span>
                                                <h4>Photography &amp; Videography</h4>
                                                <p>Tell a compelling story with your photos and videos. A professional visual communication
                                                    opens your brand to a wider
                                                    audience. Become a competitive advantage with your story!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="wrappage contacts">
                                <div class="container">
                                    <div class="row contact">
                                        <div class="col-md-9 col-sm-12 col-xs-12">
                                            <p><span class="circle"> <img alt="" src="{% static 'css/img/circle.png' %}"></span> Contact us if you
                                                need a quote
                                                <!-- or download our rate card <a href="#" style="color: #333;">here</a> -->
                                            </p>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <button class="button-contac button_see_contact"><a style="text-decoration: none;color: #fff;" href="mailto:partnership@digitaltimes.africa">CONTACT US NOW</a> <span></span><span
                                                    class="xoay"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="wrappage">
                                <div class="testimonials">
                                    <div class="testimonials-img">
                                        <img alt="" src="{% static 'images/Layer-0245.jpg' %}">
                                    </div>
                                    <div class="testimonials-design">
                                        <p class="p"><span class="file"></span>Revolutionary!</p>
                                            <p class="pp">It’s a pleasure to be featured by Digital Times Africa on the great work that we’ve done and continue to do at GoNomad, Movefunds,
                                                and other things in the works.</p>
                                        <span class="chuky">Uke Enun Jnr</span>
                                    </div>
                                </div>
                            </div>
                    
                    
                            <div class="wrappage pricing-table" id="pricing">
                                <div class="container">
                    
                                    <div class=" our_pri">
                                        <h5>OUR PRICING TABLE</h5>
                                        <h1>Lowest Price With Best Result</h1>
                                    </div>
                                    <div class="row pricing center-mode">
                                        <div class="col-md-4 col-sm-4 col-xs-12 months months1">
                                            <!-- <h5>BRONZE</h5> -->
                                            <h1 style="color: #7cfc00"><span >BRONZE</span></h1>
                                            <!-- <h1>$<span>299.99</span></h1>
                                            <p>Bill anually or $19 month-to-month</p> -->
                                            <ul>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>DT Africa to attend Event in Accra</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>One post on FB & Twitter before event</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Live Tweet on DT’s account</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Pre-event Press release written by client</span></li>
                                            </ul>
                                            <button class="button_rea"><a style="text-decoration: none;color: #7cfc00;" href="mailto:partnership@digitaltimes.africa">SIGN UP<span></span><span class="xoay"></span></a></button>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 months months2">
                                            <!-- <h5>SILVER</h5> -->
                                            <h1 style="color: #7cfc00"><span>SILVER</span></h1>
                                            <!-- <h1>$<span>299.99</span></h1>
                                            <p>Bill anually or $19 month-to-month</p> -->
                                            <ul>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>DT Africa to attend Event in Accra</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Two posts on FB & Twitter before event</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Instagram live or FB Cross-posting on DT’s account</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Pre-event Press release written by client</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Photography -10 edited photos</span></li>
                                            </ul>
                                            <button class="button_rea"><a style="text-decoration: none;color: #7cfc00;" href="mailto:partnership@digitaltimes.africa">SIGN UP<span></span><span class="xoay"></span></a></button>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 months months3">
                                            <!-- <h5>GOLD</h5> -->
                                            <h1 style="color: #7cfc00"><span>GOLD</span></h1>
                                            <!-- <h1>$<span>299.99</span></h1>
                                            <p>Bill anually or $19 month-to-month</p> -->
                                            <ul>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>DT Africa to attend Event in Accra</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Three posts on all social media platforms before event</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Instagram live or FB Cross-posting on DT’s account</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Pre-event Press release written by DT Africa</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Photography -10 edited photos</span></li>
                                                <li style="display: flex;justify-items: center;align-items: center;"><i class="far fa-check-circle"></i><span>Post Publication after event (Article/Blog) Written by client</span></li>
                                            </ul>
                                            <button class="button_rea"><a style="text-decoration: none;color: #7cfc00;" href="mailto:partnership@digitaltimes.africa">SIGN UP<span></span><span class="xoay"></span></a></button>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                    
                    
                    
                    
                        </main>
                    </div>
                    <div class="wrappage talk-to" id="contact-us">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 our-core" >
                                    <h5>CONTACT</h5>
                                    <h1>Talk To Us About Your Project</h1>
                                    <p>Our core clients are from the African continent, but we are happy to work with clients
                                        from all over the globe.</p>
                                </div>
                                {% for subscribe_form in form_email %}
                                <form action="{% url 'subscribe' %}" method="POST" target="_parent">{% csrf_token %}
                                    <div class="invalid-feedback">{{ subscribe_form.error_messages }}</div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 input-contact">
                                        <input placeholder="Full name *">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 input-contact">
                                        <input placeholder="Company *">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 input-contact">
                                        <input type="{{ subscribe_form.field.widget.input_type }}" spellcheck="true"
                                            name="{{ subscribe_form.name }}" id="{{ subscribe_form.id_for_label }}" placeholder="Email *" 
                                            {% if subscribe_form.field.required %}required="required" {% endif %} autocomplete="email" enterkeyhint="done">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 input-contact">
                                        <input placeholder="Telephone *">
                                    </div>
                                    <div class="col-md-12 button-contact">
                                        <button>SUBMIT YOUR REQUEST <span></span><span class="xoay"></span></button>
                                    </div>
                                </form>
                                {% endfor %}
                                <p>{% if messages %}
                                <ul class="messages mess-text">
                                    {% for message in messages %}
                                    <script>swal({ title: 'Confirmation Message', text: 'Your request has been sent successfully.', button: 'OK', });</script>
                                    {% endfor %}
                                </ul>
                                {% endif %}</p>
                            </div>
                        </div>
                    </div>
                </header>
                
                <footer>
                    <div class="wrappage footer">
                        <div class="full-container">
                            <div class="row footer1">
                                <div class="logo_footer col-md-3 col-sm-6 col-xs-6">
                                    <a href="#" title="logo">
                                    <span class="logo-foo">
                                    </span></a>
                                    <ul>
                                        <li>
                                            <p><span class="loca"></span> LOCATION</p>
                                            <h5><a style="color:#909090;" href="https://goo.gl/maps/7SScPPR6QCcdGG8z5" alt="map" target="_blank">GM-057-7751 <br>14 Bombay St. - Ghana</a></h5>
                                        </li>
                                        <li>
                                            <p><span class="emai"></span>EMAIL US</p>
                                            <h5><a style="color:#909090;" href="mailto:partnership@digitaltimes.africa">partnership@digitaltimes.africa
                                                </a>
                                                <a style="color:#909090;" href="mailto:operations@digitaltimes.africa">operations@digitaltimes.africa
                                                </a>
                                            </h5>
                                        </li>
                                        <li>
                                            <p><span class="phone"></span>PHONE</p>
                                            <h5>T:<a style="color:#909090;" href="tel:+233302261832" alt="telephone">+233 30 226 1832</a></h5>
                                        </li>
                                        <li>
                                            <p><span class="soc1al"><i class="fa fa-hashtag"></i></span>SOCIALS</p>
                                            <h5 class="social">
                                                <a href="https://facebook.com/DigitalTimesAfrica/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                <a href="https://twitter.com/DigitalTAfrica" target="_blank"><i class="fab fa-twitter"></i></a>
                                                <a href="https://www.instagram.com/digitaltimesafrica/" target="_blank"><i class="fab fa-instagram"></i></a>
                                                <a href="https://www.linkedin.com/company/digitaltimesafrica/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                                <a href="https://www.youtube.com/channel/UCsLA-rwLOHa0w6EIC6SLM8w" target="_blank"><i class="fab fa-youtube"></i></a>
                                            </h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="links col-md-3 col-sm-6 col-xs-6">
                                    <p>Links</p>
                                    <ul>
                                        <li><a href="https://www.digitaltimes.africa/category/news"><span></span> News Stories </a></li>
                                        <li><a href="https://www.digitaltimes.africa/category/articles"><span></span> Publications </a></li>
                                        <li><a href="{% slugurl 'funding' %}"><span></span> Opportunities</a></li>
                                        <li><a href="{% slugurl 'featured-events' %}"><span></span>Featured Events</a></li>
                                        <li><a href="{% slugurl 'videos' %}"><span></span>Videos</a></li>
                                        <li class="k_border"><a href="#services"><span></span>Services
                                            </a></li>
                                    </ul>
                                </div>
                                <div class="recent_post col-md-3 col-sm-6 col-xs-6">
                                    <p>Recent Post</p>
                                    <ul>
                                        {% for post in recent_posts.all.reverse|slice:"0:2" %}
                                        <li>
                                            <h5>{{post.first_published_at| date:"d M, Y"}} </h5>
                                            <a href="{% pageurl post %}">{{post.title|striptags}}</a>
                                        </li>
                                        {%endfor%}
                                        {% for post in recent_posts.all.reverse|slice:"2:3" %}
                                        <li class="k_border">
                                            <h5>{{post.first_published_at| date:"d M, Y"}} </h5>
                                            <a href="{% pageurl post %}"> {{post.title|striptags}}</a>
                                        </li>
                                        {%endfor%}
                                    </ul>
                                </div>
                                {% include 'news/layout/servicepage_footer_subscribe.html' %}
                            </div>
                            <div class="row footer2">
                                <div class="col-md-8 col-sm-8 col-xs-12 copy">
                                    Copyright &copy;<span id="year"></span> <a href="" style="color: #333;">Digital Times
                                        Africa</a> - All rights reserved.
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 goto"><span class="goto1"> GO TO TOP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <div id="consent-popup" class="hidden">
        <p style="margin: 0px;">We use <a href="https://www.digitaltimes.africa/cookie-policy/" target="_blank">Cookies</a> to personalise
            content and ads, to
            provide social media features and to analyse our traffic. By using this site you agree to our <a
                href="https://www.digitaltimes.africa/terms/" target="_blank">Terms and Conditions</a>.
            Please <strong><a id="accept" href="#">Accept</a></strong> these before using the site.
        </p>
    </div>
    
    <script type="text/javascript" src="{% static 'js/cookie-consent.js' %}"></script>
    <!----- Footer year update code----->
    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'css/services/slick/slick.js' %}"></script>
    <script src="{% static 'js/services/servicepage.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>