{% load wagtailroutablepage_tags wagtailcore_tags wagtailimages_tags %}
{% block sidebar %}
{% load static %}
<!-- Press Release -->
<aside class="widget popular">
    <h3 class="widget-title">Press Releases</h3>
    <div class="content">
        {% for post in press_release.all.reverse|slice:"0:1" %}
        {% image post.blog_image fill-1000x710-c100 as blog_img %}
        <div class="post-item ver1 overlay-top">
            <figure>
                <a class="images" href="{% pageurl post %}" title="images"><img class='img-responsive'
                        src="{{blog_img.url}}" alt="{{blog_img.alt}}"></a>
            </figure>

            <div class="text">
                <h2><a href="{% pageurl post %}" title="title">{{post.title|striptags}}</a></h2>
                <div class="tag">
                    <p class="date"><i class="fa fa-clock-o"></i>{{post.first_published_at| date:"M. d, Y"}}</p>
                </div>
            </div>
        </div>
        {%endfor%}

        {% for post in press_release.all.reverse|slice:"1:2" %}
        {% image post.blog_image fill-1000x710-c100 as blog_img %}
        <div class="post-item ver1 overlay-top">
            <figure>
                <a class="images" href="{% pageurl post %}" title="images"><img class='img-responsive'
                        src="{{blog_img.url}}" alt="{{blog_img.alt}}"></a>
            </figure>

            <div class="text">
                <h2><a href="{% pageurl post %}" title="title">{{post.title|striptags}}</a></h2>
                <div class="tag">
                    <p class="date"><i class="fa fa-clock-o"></i>{{post.first_published_at| date:"M. d, Y"}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</aside>
<!-- End Press Release -->
{% if sidebar_events.count > 4 %}
<aside class="widget">
    <!-- Upcoming Events  -->
    <h3 class="widget-title">Upcoming Events </h3>
    <div class="banner">
        <!-- Ad Banner -->
        <div id="sidebar-slider">
            {% for event in sidebar_events %}
            <figure>
                {% image event.event_image scale-70 as event_image %}
                <a href="{{ event.event_url}}" target="_blank">
                    <img class="img-responsive" src="{{event_image.url}}" alt="{{event_image.alt}}"
                        title="Click to Follow The Link">
                </a>
            </figure>
            {%endfor%}
        </div>
        <!-- Ad Banner -->
    </div>
</aside>
{%endif%}

{% if sidebar_ads.count > 0 %}
<aside class="widget">
    <!-- Ads  -->
    <h3 class="widget-title">Advertisement</h3>
    <div class="banner">
        <!-- Ad Banner -->
        <!-- <div id="sidebar-slider"> -->
        {% for ads in sidebar_ads.all.reverse|slice:"0:1" %}
        <figure>
            {% image ads.ad_image scale-70 as ad_image %}
            <a href="{{ ads.ad_url}}" target="_blank">
                <img class="img-responsive" src="{{ad_image.url}}" alt="{{ad_image.alt}}"
                    title="Click to Follow The Link">
            </a>
        </figure>
        {%endfor%}

        <!-- </div> -->
        <!-- Ad Banner -->
    </div>
</aside>
{%endif%}

<!-- Latest Posts -->
<aside class="widget popular">
    <h3 class="widget-title">Latest Posts</h3>
    <div class="content">
        {% for post in recent_posts.all.reverse|slice:"0:1" %}
        {% image post.blog_image fill-1000x710-c100 as blog_img %}
        <div class="post-item ver1 overlay-top">
            <figure>
                <a class="images" href="{% pageurl post %}" title="images"><img class='img-responsive'
                        src="{{blog_img.url}}" alt="{{blog_img.alt}}"></a>
            </figure>

            <div class="text">
                <h2><a href="{% pageurl post %}" title="title">{{post.title|striptags}}</a></h2>
                <div class="tag">
                    <p class="date"><i class="fa fa-clock-o"></i>{{post.first_published_at| date:"M. d, Y"}}</p>
                </div>
            </div>
        </div>
        {%endfor%}

        <div class="sidebar-scroll">
            {% for post in recent_posts.all.reverse|slice:"1:15" %}
            {% image post.blog_image fill-500x350-c100 as blog_img %}
            <div class="post-item ver2">

                <a class="images" href="{% pageurl post %}" title="images">
                    <figure><img class='img-responsive' src="{{blog_img.url}}" alt="{{blog_img.alt}}"></figure>
                </a>
                <div class="text" style="padding-top: 0;">
                    <h2 style="margin-top: 0px;"><a href="{% pageurl post %}" title="title">{{post.title|striptags}}</a>
                    </h2>
                    <div class="tag">
                        <p class="date"><i class="fa fa-clock-o"></i>{{post.first_published_at| date:"M. d, Y"}}</p>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>

    </div>

</aside>
<!-- End Latest Posts -->

<!-- Adsense starts -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1488438822864367"
     crossorigin="anonymous"></script>
<!-- Sidebar ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1488438822864367"
     data-ad-slot="4666632653"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Adsense ends -->

{% include 'news/subscribe_newsletter.html' %}

<aside class="widget tweetz">
    <div class="box">
        <div class="head">
            <div class="box">
                <div class="icon">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="textz">
                    <h3>Twitter Feed</h3>
                    <a class="twitter-timeline" data-height="425"
                        href="https://twitter.com/DigitalTAfrica?ref_src=twsrc%5Etfw">Tweets by DigitalTAfrica</a>
                </div>
            </div>
        </div>
    </div>
</aside>
{% endblock %}

<!-- Adsense starts -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1488438822864367"
     crossorigin="anonymous"></script>
<!-- Sidebar ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1488438822864367"
     data-ad-slot="4666632653"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Adsense ends -->