{% block subscribe %}
{%load static%}
<style>
.form-group{margin-bottom:0}#subscribe-email,#subscribe-name{width:100%;height:50px;margin-top:15px;line-height:60px;padding:0 15px;border:1px solid #bbb;font-size:1.1em;font-weight:300}#submit-email{width:100%;height:47px;margin-top:10px;background:#111;border:1px solid #bbb;color:#0add08;cursor:pointer}#submit-email:hover{color:#111;background:#0add08;font-weight:700}.header-image{width:100%;height:auto;margin-bottom:15px}.mess-text{font:400 14px/20px Oswald!important;color:#9a9a9a;padding:10px 10px!important;margin-bottom:0!important;list-style:none!important}.mess-head{font:400 20px/24px Oswald!important;color:#333}.subsc-email input::placeholder{font-family:Oswald}
</style>
<aside class="widget popular" id="newsletter-subscribe">
  <h3 class="widget-title">Subscribe</h3>
  <div class="content">
    <div class="subscribe-image">
      <figure>
        <img class="header-image img-responsive" src="{% static '/images/signup.png' %}" alt="image">
      </figure>
    </div>
    <p class="mess-head"><strong>Subscribe to our newsletter to receive news updates by email.<strong></p>
    {% for subscribe_form in form_email %}
    <form action="{% url 'subscribe' %}" method="POST" id="subscribe-form" target="_parent">{% csrf_token %}
      <div class="form-group subsc-email">
        <div class="invalid-feedback">{{ subscribe_form.error_messages }}</div>
        <input type="{{ subscribe_form.field.widget.input_type }}" spellcheck="true" class="form-control"
          name="{{ subscribe_form.name }}" id="{{ subscribe_form.id_for_label }}" placeholder="Type your email address"
          {% if subscribe_form.field.required %}required="required" {% endif %} autocomplete="email"
          enterkeyhint="done">
        <button type="submit" class="btn btn-success" id="submit-email">
          Subscribe
        </button>
      </div>
    </form>
    {% endfor %}
    <p>{% if messages %}
      <ul class="messages mess-text">
        {% for message in messages %}
        <script>swal({title: 'Confirmation Message',text: '{{message}}',button: 'OK',});</script>
        {% endfor %}
      </ul>
      {% endif %}</p>
  </div>
</aside>
{%endblock%}