{% extends "base.html" %}
{% load menu_tags %}

<ul class="nav navbar-nav" id="navbar">
    {% for item in menu_items %}
        <li class="level1  hover-menu"><a class="active " href="{{ item.href }}" >{{ item.text }}</a>
            {% if item.sub_menu %}
                <ul class="menu-level-1 list-menu">
                    {% for sub_item in item.sub_menu.items %}
                    <li class="level2"><a class="active " href="{{ sub_item.href }}" >{{ sub_item.text }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
         </li>
    {% endfor %}
</ul>